body {
    background-color: rgb(39, 43, 48);

}
h1 {
	color: #b3b3b3;
}
.delchk-td{
    text-align: center;
    vertical-align: middle !important;
}

.delchk-th {
	text-align:center !important;
	width:50px;
}
.omg-th {
	text-align:center;
	width:50px;
}


.widht-omg-txt {
	width:30px;
}


.main-bg {
    background-color:rgb(255, 255, 255);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.05);
    border-radius: 4px;
}

.text-box-default {
    border: none;
    border-collapse:collapse;
    border-spacing: 0px;
    background-color: #FFFFFF;
}
/** Tableの中のテーブル */
.tableInTable {
	border-width: 0px;
    border-spacing: 0px;
    border-width: 0px;
}
.tableInTable table{
	border: 0px;
	padding:0px;
	border-width: 0px;
}
.tableInTable tr {
	min-height: 30px !important;
	height: 30px !important;
}

.tableInTable .omg-top {

	border-width: 0px 0px 1px 0px !important;
}
.tableInTable .omg-bottom {
	border-width: 0px !important;
}

.line-add-table {
	table-layout:fixed;
	width:1000px;
    color: #333;
    border-collapse:collapse;
    border-spacing: 0px;
    background-color: #FFFFFF;
}
.line-add-table table{
	widht:100%;
	border-collapse:collapse;
}
.line-add-table tr {
	padding:0px;
}
.line-add-table th{
    font-size: 11pt;
    color: #333;
    border: 1px dotted #999999;
    background-color: rgb(238, 238, 238);
    border-collapse: separate;
	padding:0px;

}

.line-add-table td {
    font-size: 10pt;
    color: #333;
    border: 1px solid #cccccc;
    background-color: #FFFFFF;
    border-collapse: separate;
	padding:0px;
}

.button-s {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size:10pt;
	font-family:富士ポップ;

}
.errs-table {

/* 	width: 500px; */
}
.errs-table table{

/* 	width: 100%; */
/* 	table-layout: fixed; */
	font-size: 8pt;
}
.errs-table td{
	font-size: 9pt;
	color: #0000 !important;
}
.errs-table div{

	 width: 10px; height: 10px;

}